.reservation__title {
  margin: 0;
  padding-bottom: 24px;
  text-align: center;
}


@media screen and (max-width: 1023px){
  .reservation__title {
    padding-bottom: 18px;
  }
}

@media screen and (max-width: 767px){
  .reservation__title {
    padding-bottom: 12px;
  }
}
