.reservation__card-link {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.5;
  color: #424f7b;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.reservation__card-link::after {
  content: url(../../../images/Arrow_Right.svg);
  line-height: 0;
  transition: transform 1s;

}

.reservation__card-link:hover {
  opacity: 0.7;
}

.reservation__card-link:hover::after {
  transform: translate(15px, 0) scale(1.5, 1);
  opacity: 0.7;
}

@media screen and (max-width: 1023px){
  .reservation__card-link {
    font-size: 16px;
  }
}
