.header {
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 41px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .header {
    padding-left: 90px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 700px) {
  .header {
    padding-top: 28px;
    flex-direction: column;
    gap: 28px;
  }
}