.detail__subtitle {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #848FAC;
  margin-top: 24px;
  margin-bottom: 0;
  padding: 0;
}

@media screen and (max-width: 1023px) {
  .detail__subtitle {
    gap: 70px;
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  .detail__subtitle {
    margin-top: 16px;
  }
}