.interiors__slider {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 3px;
}


@media screen and (max-width: 1024px){
  .interiors__slider {
    flex-direction: column;
  }

}
