.footer__column-heading {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .footer__column-heading {
    font-size: 12px;
  }
}
