.detail__img {
  width: 100%;
  max-width: 384px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 1023px) {
  .detail__img {
    max-width: 320px;
  }
}

@media screen and (max-width: 767px) {
  .detail__img {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
  }
}

